{% extends "index.html" %}
{% load static%}

{% block content %}

<!-- Registration Start -->
<div class="container-fluid bg-registration py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="card border-0">
                    <div class="card-header bg-primary text-center p-4">
                        <h1 class="text-white m-0">Sign In Now</h1>
                    </div>
                    <div class="card-body rounded-bottom bg-white p-5">
                        <form method="post" autocomplete="off">
                            {% for message in messages  %}
                                <h6 style="color:red">{{message}}</h6>
                
                            {% endfor %}
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control p-4" name="uname" placeholder="Username" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control p-4" name="pswd" placeholder="Password" required="required" />
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block py-3" type="submit">Sign In Now</button>
                                <br>
                                Don't have an account click <a href="{%url 'SignUp'%}">Here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Mega Offer</h6>
                    <h1 class="text-white"><span class="text-primary">30% OFF</span> For Honeymoon</h1>
                </div>
                <p class="text-white">Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos,
                    ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est
                    dolor</p>
                <ul class="list-inline text-white m-0">
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Awsome Travel</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Find Your Shortest Route</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Packages and Tour Guide support</li>
                </ul>
            </div>
            
        </div>
    </div>
</div>
<!-- Registration End -->

{% endblock %}
