{% extends "adminindex.html" %}
{% block content %}
<br>

<div class="container mb-5">
    {% for message in messages  %}
      
    <div class="alert {message.tags}} alert-dismissible fade show fixed-to" role="alert">
        <strong>Hey! </strong> {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12 text-right">
            <!-- <button class="btn btn-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight1" aria-controls="offcanvasRight1"><i class="bi bi-plus-lg"></i> Add Contry </button> -->

            <button class="btn btn-info" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-plus-lg"></i> Add Routes </button>
        </div>
        <div class="col-md-12">
            <h5 class="text-center">Transportations Routes</h5>
            <div class="boxe">
                <table class="table table-dark table-stripped">
                    <tr>
                        <th>Departure</th>
                        <th>Departure Time</th>
                        <th>Arrival</th>
                        <th>Arrival Time</th>
                        <th>Destination</th>
                        <th>Mode Of travel</th>
                        <th>Kilometers</th>
                        <th>Amount</th>
                        <th>Delete</th>
                    </tr>
                    {% for dst in jour  %}

                    <tr>
                        <td>{{dst.staring_from}}</td>
                        <td>{{dst.straing_time}}</td>
                        <td>{{dst.destination}}</td>
                        <td>{{dst.ending_time}}</td>
                        <td>{{dst.destination_include}}</td>
                        <td>{{dst.mode_of_travel}}</td>
                        <td>{{dst.cost}}</td>
                        <td>{{dst.total_Kilomeaters}}</td>
                        <th><a href="{%url 'DeleteRoute' dst.id %}" class="btn btn-outline-danger">Delete</a></th>
                    </tr>
                      
                    {% endfor %}
                </table>

            </div>

        </div>
    </div>
</div>


<!-- off canvas  -->


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel" class="text-info">Add Trasportation Routes</h5><br><br>
    <h6 class="text-warning">now the roues available in india only</h6>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="">Tourist Destination:</label>
        {% for i in form %}

        {{i}} <br>

        {% endfor %}

        <label for="">Mode of Travel:</label>
        <select name="mode" id="" class="form-control" required>
          <option value="" selected disabled>---------------</option>
          <option value="air">Air</option>
          <option value="bus">Bus</option>
          <option value="train">Train</option>
          <option value="other">other</option>
        </select><br>
        <label for="">Starting Place</label>
        <input type="text" name="spoint" class="form-control" required><br>
        <label for="">Starting Picode <small class="text-danger">*importent to update correct pincode</small></label>
        <input type="number" name="spin" class="form-control" required><br>
        <label for="">Starting Time</label>
        <input type="time" name="stime" class="form-control" required><br>
        <label for="">Halt Destination <small class="text-info">*optional</small></label>
        <input type="text" name="hpoint" class="form-control"><br>
        <label for="">Halt Destination pin code<small class="text-info">*optional</small></label>
        <input type="text" name="hpin" class="form-control"><br>
        <label for="">Mode of Travel Halt Destination<small class="text-info"> *optional</small>:</label>
        <select name="sbmode" id="" class="form-control" required>
          <option value="" selected disabled>---------------</option>
          <option value="air">Air</option>
          <option value="bus">Bus</option>
          <option value="train">Train</option>
          <option value="other">other</option>
        </select><br>
        <label for="">Ending Destination</label>
        <input type="text" name="epoint" class="form-control" required><br>
        <label for="">Ending pincode <small class="text-danger">*importent to update correct pincode</small></label>
        <input type="number" name="epin" class="form-control" required><br>
        <label for="">Ending  Time</label>
        <input type="time" name="etime" class="form-control" required><br>
        <label for="">Cost </label>
        <input type="number" name="cost" class="form-control" required><br>
        <label for="">Total Kilometers </label>
        <input type="number" name="km" class="form-control" required><br>
        <label for="">Time Taken To Travel </label>
        <input type="number" name="ttime" class="form-control" required><br>
        <br><br>
        <button class="btn btn-info">Add Now</button>
    </form>
    
  </div>
</div> 

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight1" aria-labelledby="offcanvasRightLabel1">
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel" class="text-info">Add Contry</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
  
      <form action="{%url 'AddContry' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for i in form %}
  
          {{i}} <br><br>
  
          {% endfor %}
  
          <button class="btn btn-info">Add Now</button>
      </form>
      
    </div>
  </div>  
{% endblock%}