{% extends 'index.html' %}
{% block content %}



<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Destination</h6>
            <h1>Explore Top Destination</h1>
        </div>
        <div class="row">
            {% for c in desti  %}
                  
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="{{c.image.url}}" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="{%url 'OnDestinationClick' c.id %}">
                            <h5 class="text-white">{{c.destination_name}}</h5>
                            <span></span>
                        </a>
                    </div>
                </div>

                {% endfor %}
        </div>
    </div>
</div>

{% endblock %}